html{
  margin:0;
  padding:0;
  max-height:100vh;
  overflow:hidden;
}

body {
  height: 100%;
}

.App {
  text-align: center;
  height: 200px;
  width: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.projects-container {
  color: white;
}

.openingPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12vh;
  font-weight: bold;
  font-family: monospace;
  animation: fadeOutAnimation linear 1s forwards;
  animation-delay: 3s;
}

.openingPage > div {
  margin: 5vh 0;

}

.opening-first-text {
    opacity: 0;
    animation: fadeInAnimation linear 2s forwards;
}

.opening-second-text {
  opacity: 0;
  animation: fadeInAnimation linear 2s forwards;
  animation-delay: 1s;
}

.opening-third-text {
  opacity: 0;
  animation: fadeInAnimation linear 2s forwards;
  animation-delay: 2s;
}

#tsparticles {
  animation: changeBackGround linear 1s forwards;
  animation-delay: 4s;
}

.mainPage-container {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.mainPage-leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dotsContainer {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 5vw;
}
.dot-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vh 0;

}

.dot-sub:hover {
  cursor: pointer;
}

.red-container {
  display: flex;
  flex-direction: column;
}

.fa {
  font-size: 60;
  color: gray;
}

.fa:hover {
  opacity: 1;
  color: white;
}

.red-container > a {
  font-size: 60;
  margin:  1vh 0;
}



.mainPage-sections {
  color: white;
  width: 90vw;
}

.summary-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9vh;
  font-weight: bold;
  align-self: baseline;
  margin: 10vh 5vw;
  width: 60vw;
  text-align: left;
}

.summary-text-container {
  font-family: 'Candara';
  font-weight: bold;
  font-size: 4.6vh;
  line-height: 5.7vh;
  margin: 6vh 10vw;
  text-align: left;
  text-align: left;
}

.summary-text {
  margin-bottom: 15vh;
}

.summary-text-container > p {
  font-size: 3.5vh;
  margin: 0;
}

.summary-text-container > i {
  font-size: 2.5vh;
}

@keyframes changeBackGround {
  0% { 
    background-color: linear-gradient(135deg, #000000 0%, #1F013B 88%, #3B1175 100%); 
} 
100% {
    background-color: rgb(9, 0, 14);
}
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% {
      opacity: 1;
  }
} 

@keyframes fadeOutAnimation {
  0% { 
    opacity: 1; 
  } 
  100% {
      opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* SKILLS CSS */

.skills-container > h1 {
  font-size: 7vh;
}

.skills-techcard-container {
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.techCard-container {
  width: 12vw;
  height: 25vh;
  margin: 0vh 2vw;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.663);
  color: black;
}

.techCard-container > img {
  width: 6vw;
  height: 10vh;
}

/* PROJECTS CSS */

.projects-container > h1 {
  font-size: 7vh;
}

.projectcards-container {
  display: flex;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-weight: bold;
  font-size: 2vw;
  margin: 2vw;
  width: 30vw;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.663);
  border-radius: 10%;
}

.project-card:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.project-card > img {
  margin: 5vh 0;
  height: 30vh;
  width: 20vw;
}

.projectdetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: #000000b6;
  color: black;
  height: 100vh;
  width: 100vw;
}

.projectdetail-container > div {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  height: 80vh;
  width: 60vw;
}


.projectdetailImg-container {
  display: flex;
  justify-content: space-between;
  height: 30vh;
  width: 50vw;
  align-self: center;
}

.projectdetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectdetail > span {
  align-self: flex-end;
  margin-right: 2vw;
}

.projectdetail > span > i {
  font-size: 4vh;
  color: black;
}

.projectdetail > span > i:hover {
  color: gray;
}

.projectdetail > h2 {
  font-size: 5vh;
  margin-top: 0;
}

.projectdetail > p {
  font-size: 2.5vh;
  margin: 2vh 5vw;
  text-align: left;
}

.projectdetail > a {
  font-size: 3vh;
  margin-top: 3vh;
  text-align: right;
}

.projectdetailImg-container > img {
  width: 22vw;
  height: 28vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
