html{
  margin:0;
  padding:0;
  max-height:100vh;
  overflow:hidden;
}

body {
  height: 100%;
}

.App {
  text-align: center;
  height: 200px;
  width: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.projects-container {
  color: white;
}

.openingPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12vh;
  font-weight: bold;
  font-family: monospace;
  animation: fadeOutAnimation linear 1s forwards;
  animation-delay: 3s;
}

.openingPage > div {
  margin: 5vh 0;

}

.opening-first-text {
    opacity: 0;
    animation: fadeInAnimation linear 2s forwards;
}

.opening-second-text {
  opacity: 0;
  animation: fadeInAnimation linear 2s forwards;
  animation-delay: 1s;
}

.opening-third-text {
  opacity: 0;
  animation: fadeInAnimation linear 2s forwards;
  animation-delay: 2s;
}

#tsparticles {
  animation: changeBackGround linear 1s forwards;
  animation-delay: 4s;
}

.mainPage-container {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.mainPage-leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dotsContainer {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 5vw;
}
.dot-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vh 0;

}

.dot-sub:hover {
  cursor: pointer;
}

.red-container {
  display: flex;
  flex-direction: column;
}

.fa {
  font-size: 60;
  color: gray;
}

.fa:hover {
  opacity: 1;
  color: white;
}

.red-container > a {
  font-size: 60;
  margin:  1vh 0;
}



.mainPage-sections {
  color: white;
  border: 1px solid red;
  width: 90vw;
}

.summary-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid yellow;
}

.summary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9vh;
  font-weight: bold;
  align-self: baseline;
  margin: 10vh 5vw;
  width: 60vw;
  text-align: left;
  border: 1px solid palevioletred;
}

.summary-text-container {
  font-family: 'Candara';
  font-weight: bold;
  font-size: 4vh;
  margin: 6vh 6vw;
  text-align: left;
  border: 1px solid green;
}

@keyframes changeBackGround {
  0% { 
    background-color: linear-gradient(135deg, #000000 0%, #1F013B 88%, #3B1175 100%); 
} 
100% {
    background-color: rgb(9, 0, 14);
}
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% {
      opacity: 1;
  }
} 

@keyframes fadeOutAnimation {
  0% { 
    opacity: 1; 
  } 
  100% {
      opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
